- if @products.blank?
  %h3.font-n.text-center
    You don't have anything in your cart.
    %br
    %a{href: '/shop'} Go Shopping!
- else
  .cart-header.text-center
    %h3.font-n
      Shopping Cart - Total:
      %span#cart_total.text-success.font-n
        = number_to_currency(@total)
    %a.checkout{href: "http://moonlight-garden-supply.myshopify.com/cart/#{perma_link_append}", role: 'button', class: 'btn btn-primary font-l', target: '_blank'} Checkout
  %hr
  = render(partial: 'shop/products', locals: {products: @products, cart: true})
  = render(partial: 'remove_from_cart_modal')
