- products.each do |product|
  .item.col-md-3
    .thumbnail
      %img.group.list-group-image{:alt => "", :src => image_thumb(product.id)}
      .caption
        .product-title
          %a.group.inner.list-group-item-heading{href: product_url(product.id)}
            = product.title
        .body-container
          %p.group.inner.list-group-item-text
            = strip_tags product.body_html
            %a.readmore.hidden{:href => product_url(product.id)} read more
      .footer
        .row
          .col-xs-12.col-md-12
            %p.lead.text-success
              $
              = product.variants.first.price
          .col-xs-12.col-md-12
            %a.add_to_cart.btn.btn-primary.btn-sm.pull-right{:href => "#"} Add To Cart
            %a.btn.btn-success.btn-sm.pull-right.button-margin{:href => product_url(product.id)} More Details
