- products.each do |product|
  .item.col-xs-4.col-lg-4
    .thumbnail
      %img.group.list-group-image{:alt => "", :src => image_path("#{product.id}-thumb.jpg")}/
      .caption
        %h4.group.inner.list-group-item-heading
          = product.title
        .body-container
          %p.group.inner.list-group-item-text
            = strip_tags product.body_html
            %a.readmore.hidden{:href => "#"} read more
        .row
          .col-xs-12.col-md-6
            %p.lead
              = product.variants.first.price
          .col-xs-12.col-md-6
            %a.btn.btn-success.btn-sm.pull-right{:href => "#"} Add to cart
