.well.well-sm
  %strong Shop
#products.row.list-group
  - @products.each do |product|
    .item.col-md-3
      .thumbnail
        %img.group.list-group-image{:alt => "", :src => product.images.first.src}
        .caption
          %h4.group.inner.list-group-item-heading
            = product.title
          %p.group.inner.list-group-item-text
            = strip_tags product.body_html
          .row
            .col-xs-12.col-md-6
              %p.lead
                = product.variants.first.price
            .col-xs-12.col-md-6
              %a.btn.btn-success{:href => "#"} Add to cart

