%h2.text-center
  Shop
#accordion.panel-group.text-center
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          Categories
    #collapseOne.panel-collapse.collapse.out
      .panel-body
        .category
          %a{href: '#' } All
        - @categories.each do |key, value|
          .category
            %a{href: '#' }
              = key
#products.row.list-group
  = render(partial: 'product_slide', locals: {products: @products})

