%h2.text-center Cottonwood Organics
#logo.text-center
  = image_tag('organic-logo.png', {width: '300px', height: '300px'})
%nav.navbar.navbar-default.navbar-organic{role: 'navigation'}
  .container-fluid
    %ul.nav.navbar-nav.custom-nav
      %li.active
        %a{href: '#'} About
      %li
        %a{href: '#'} Photos
      %li
        %a{href: '#'} Blog
      %li
        %a{href: '#'} Testimonial
      %li
        %a{href: '#'} Contact
