#contact_container.container-fluid
  %section
    #contact-details.vertical-line
      %ul.list-unstyled
        %li
          %h4 Phone:
        %li (555) 555-5555
        %li
          %h4 Email:
        %li me@example.com
        %li
          %h4 Address:
        %li 123 E 456 S
        %li SLC, UT 84101
        %li
          %h4
            Hours:
        %li Mon: 10:AM - 5:PM
        %li Tue: 10:AM - 5:PM
        %li Wed: 10:AM - 5:PM
        %li Thu: 10:AM - 5:PM
        %li Fri: 10:AM - 5:PM
        %li Sat: 10:AM - 5:PM
    #contact-form
      %form{role: 'form'}
        .form-group
          %label{for: 'name'} Name
          %input#name.form-control{name: 'name', type: 'text'}
        .form-group
          %label{for: 'email'} Email
          %input#email.form-control{name: 'email', type: 'email'}
        .form-group
          %label{for: 'message'} Message
          %textarea#message.form-control{name: 'messsage', rows: '3'}
        %button#contact_request.btn.btn-primary.pull-right{type: 'submit'} Submit
