.container
  .row
    .col-sm-12.col-lg-12
      .panel
        .panel-heading
          %h3
            %i.icon-map-marker.main-color.font-n
            .font-m Location
        .panel-body
          #map{:style => "width: 100%; height: 200px;"}
  %hr
    .row
      .col-sm-4.col-lg-4
        .panel
          .panel-heading
            %h3
              %i.icon-pushpin.main-color
              .font-m Our Location
          .panel-body
            %address
              %strong.font-m Moonlight Garden Supply
              %br
                .font-n 150 W. Commonwealth Avenue
                %br
                  .font-n Salt Lake City, UT 84115
                  %br
                    %i.icon-phone-sign
                    .font-n (801) 793-9587
        .panel
          .panel-heading
            %h3
              %i.icon-time.main-color
              .font-m Business Hours
          .panel-body
            %table.table.table-hover
              %thead
                %tr
                  %th.font-n Day
                  %th.font-n Time
              %tbody
                %tr.success
                  %td.font-l Monday
                  %td.font-l 8:00 to 6:00
                %tr.success
                  %td.font-l Tuesday
                  %td.font-l 8:00 to 6:00
                %tr.success
                  %td.font-l Wednesday
                  %td.font-l 8:00 to 6:00
                %tr.success
                  %td.font-l Thursday
                  %td.font-l 8:00 to 6:00
                %tr.success
                  %td.font-l Friday
                  %td.font-l 8:00 to 6:00
                %tr.success
                  %td.font-l Saturday
                  %td.font-l 9:00 to 9:00
                %tr.danger
                  %td.font-l Sunday
                  %td.font-l Closed
      .col-12.col-lg-8
        .panel
          .panel-heading
            %h3
              %i.icon-envelope.main-color
              .font-m Feel free to contact us
          .panel-body
            %form#feedbackForm{:role => "form"}
              .form-group
                %input#name.form-control{:name => "name", :placeholder => "Name", :type => "text"}
                  %span.help-block{:style => "display: none;"} Please enter your name.
              .form-group
                %input#email.form-control{:name => "email", :placeholder => "Email Address", :type => "email"}
                  %span.help-block{:style => "display: none;"} Please enter a valid e-mail address.
              .form-group
                %textarea#message.form-control{:cols => "100", :name => "message", :placeholder => "Message", :rows => "10"}
                %span.help-block{:style => "display: none;"} Please enter a message.
              %button#feedbackSubmit.btn.btn-primary.btn-lg.font-l{:style => "display: block; margin-top: 10px;", :type => "submit"} Send Feedback
