!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %img{style: 'text-align: center;', src: image_path('moonlight-full.png')}
    %h2{style: 'text-align: center;'} Newsletter
    %hr
    = @content