@font-face {
  font-family: 'Novecento';
  src: asset-url('Novecentowide-Normal.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Bold';
  src: asset-url('Novecentowide-Bold.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-DemiBold';
  src: asset-url('Novecentowide-DemiBold.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Medium';
  src: asset-url('Novecentowide-Medium.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Light';
  src: asset-url('Novecentowide-Light.otf');
  font-weight: normal;
  font-style: normal;
}
