/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */

@font-face {
  font-family: 'Novecento';
  src:url('Novecentowide-Normal.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Bold';
  src:url('Novecentowide-Bold.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-DemiBold';
  src:url('Novecentowide-DemiBold.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Medium';
  src:url('Novecentowide-Medium.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Light';
  src:url('Novecentowide-Light.otf');
  font-weight: normal;
  font-style: normal;
}
