$border: 1px solid;

@media (max-width: 991px) {
  .main-article {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
  }
}


.articles-panel {
  border: $border !important;
}

.blog-panel-collapse {
  border: $border;
  border-radius: 5px;
}

.scrollable {
  max-height: 400px;
  overflow-y: scroll;
}

.main-article {
  max-width: 700px;
  width: 700px;
  margin-left: 100px;
  margin-right: 50px;
}

.blog-panel-title {
  width: 210px;
}

.blog-panel-title a {
  padding-left: 5px;
}

.green {
  background: rgb(70,173, 70);
}

.post-title {
  color: white;
}

.main-article {
  height: 100%;
  overflow-y: scroll;
}

.article-author {
  font-style: italic;
  color: gray;
}

.comments-title {
  margin-right: 25px;
  font-size: 16px;
}

.approval {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.approve {
  cursor: pointer; cursor: hand;
}

.delete {
  cursor: pointer; cursor: hand;
}

.wait {
  cursor: pointer; cursor: hand;
}

.remove-comment {
  cursor: pointer; cursor: hand;
}

.remove-article {
  cursor: pointer; cursor: hand;
  margin-right: 25px;
}

.edit-article {
  cursor: pointer; cursor: hand;
}

.approval-container {
  margin-bottom: 10px;
}

.wait-color {
  color: blue;
}

.delete-color {
  color: red;
}

.approve-color {
  color: green;
}

.icon-faded {
  color: grey
}

.fade-out {
  background-color: rgba(255,0,0,.2)
}

#update {
  margin-left: 50px;
}
