#contact_container section {
  height: 300px;
  margin: auto;
  padding: 10px;
}

#contact-details {
  width: 15%;
  float: left;
}

#contact-form {
  margin-left: 30%;
  height: 300px;
  width: 300px;
}
