#logo.text-center
  = image_tag('organic-logo.png', {width: '250px', height: '250px'})
%nav.navbar.navbar-default.navbar-organic{role: 'navigation'}
  .container-fluid
    %ul.nav.navbar-nav.custom-nav
      %li
        %a{href: '#'} About
      %li
        %a{href: '#'} Photos
      %li
        %a{href: '#'} Blog
      %li
        %a{href: '#'} Testimonial
      %li
        = link_to("Contact", '/contact')
